<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <connectionStrings>
        <add name="NileDatabase" 
             connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=NileDatabase;Integrated Security=True;" 
             providerName="System.Data.SqlClient" />
    </connectionStrings>

    <appSettings>
        <add key="SomeSetting" value="10" />
    </appSettings> 
</configuration>